// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$header-font-size: 1.4em;
$header-padding-top: 0;
$header-padding-bottom: 5px;

$max-width: 625px;
//$indented-lists: true;

// Padding used for layout margins
$pad-min: 0px;
$pad-narrow: 0px;
$pad-medium: 0px;
$pad-wide: 0px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
