// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.greek {
	font-family: $greek-font-family;
}

aside.post {
	@extend blockquote;

	@media only screen and (min-width: 750px) {
		float: right;
  		width: 45%;
  		margin: .5em 0 1em 1.5em;
  	}
}

table th {
	padding: 0.25em;
	font-weight: bold;
}

html {
  background: $page-bg;
}

@mixin article-header {
  border-left: 5px solid lighten($title-color, 40);
  margin-left: -15px;
  padding-left: 10px;
  background-color: lighten($title-color, 100);
}

@mixin post-header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 0;
}

@media only screen {
  body { font-size: 1.5em; }
  h1 { font-size: 1.2em; }
  #content .blog-index article h1 {
    @include post-header;
  }
  #content article header h1 {
    @include post-header;
  }

  #content .blog-index article header {
    @include article-header;
  }

  #content article header {
    @include article-header;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 750px) {
  body { font-size: 1.5em; }
  h1 { font-size: 1.3em; }
  p { text-align: justify; }
}

body {
  @extend .sans;
  @media only screen and (min-width: 750px) {
    aside.sidebar{ @include collapse-sidebar; }
    #content aside.sidebar.thirds section {
      float: left;
      margin-left: 1%;

      &.first {
         margin-left: 1%;
        clear: none;
      }
    }
  }
  #content { margin-right: 0px; }
}

body > nav {
  display: none;
}

footer div.meta.pagination {
  margin: 0;

  a {
    margin: 0;
  }
}

#content div.pagination {
  a {
    &[href*=archive] {
      &:before, &:after { content: '\00a7'; padding: 0 .3em; }
    }
  }
}

#content .sidebar h1 {
  a {
    text-decoration: none;
    white-space: normal !important;

    img {
      float: left;
      margin-right: 0.5em;
      border: 0 none;
    }
  }
}

#content aside.sidebar h1 {
  font-weight: normal;
}

h2, h3,h4,h5 { font-weight: normal; }
.toggle-sidebar { display: none; }

.entry-content h2,h3,h4,h5 {
  margin-left: -15px;
  border-left: 5px solid lighten($title-color, 40);
  padding-left: 10px;
  padding-top: 0;
  background: white;
}

pre, .highlight, .gist-highlight {
  &::-webkit-scrollbar {  height: .3em; background: $solar-scroll-bg; }
}
