// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$my_max_width: 625px;
$desktop_widths: 625px 768px 992px 1024px 1280px 1440px;
$phone_widths: 320px 480px 568px;
$screen_widths: 320px 480px 568px 625px 768px 992px 1024px 1280px 1440px;

.greek {
    font-family: $greek-font-family;
}

aside.post {
    @extend blockquote;

    @media only screen and (min-width: 750px) {
        float: right;
        width: 45%;
        margin: .5em 0 1em 1.5em;
    }
}

aside.update {
    @include shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .8) 0 1px 4px, $border-radius: .3em);
}

table th {
    padding: 0.25em;
    font-weight: bold;
}

html {
    background: $page-bg;
}

@mixin central-column($width: $my_max_width, $padding: 20px) {
    max-width: $width;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: $padding;
    padding-right: $padding;
}

@mixin article-header {
    border-left: 5px solid lighten($title-color, 40);
    margin-left: -15px;
    padding-left: 10px;
    background-color: lighten($title-color, 100);
}

@mixin big-article-header {
    margin-left: -25px;
    padding-left: 20px;
}

@mixin post-header {
    font-weight: normal;
    padding-bottom: 0;
}

@media only screen {
    #content .blog-index article h1 {
        @include post-header;
    }
    #content article header h1 {
        @include post-header;
    }

    #content .blog-index article header {
        padding-top: 0;
        padding-left: 20px;
    }

    #content .blog-index article header .header-with-left-border {
        @include article-header;
        padding-top: 2em;
        height: inherit;
    }

    #content article header {
        padding-top: 0;
    }

    #content article header .header-with-left-border {
        @include article-header;
        padding-bottom: 0;
        padding-top: 2em;
        height: inherit;
    }
}

@media only screen and (min-width: 750px) {
    p { text-align: left; }

    #content .blog-index article header .header-with-left-border {
        @include big-article-header;
    }

    #content article header .header-with-left-border {
        @include big-article-header;
    }
}

body {
    @extend .sans;
    font-family: $sans;
    width: 100%;
    max-width: 100%;
    @media only screen and (min-width: 750px) {
        aside.sidebar{ @include collapse-sidebar; }
        #content aside.sidebar.thirds section {
            float: left;
            margin-left: 1%;

            &.first {
                margin-left: 1%;
                clear: none;
            }
        }
    }
    #content {
      margin-right: 0px;
      border-right: 0px;
      background-image: none;
    }

    #main {
      background-image: none;
    }

    > header h1 {
        font-size: 1.7em;
        margin-left: -0.1em;
    }
}

article + article {
    .blog-index & {
        background: none;
    }
}

#content .blog-index .pagination {
    background: none;
}

.entry-content > p, article > header, article > footer, body > header,
body > footer, .blog-index > .pagination, #blog-archives, .mailchimp_form,
.entry-content > iframe, .entry-content .tweet, .youtube5placeholder,
article .flash-video, .entry-content ul {
    @include central-column;
}

.entry-content .tweet {
    margin-bottom: 2em;
}

body > nav {
    display: none;
}

footer div.meta.pagination {
    margin: 0;

    a {
        margin: 0;
    }
}

#content div.pagination {
    a {
        &[href*=archive] {
            &:before, &:after { content: '\00a7'; padding: 0 .3em; }
        }
    }
}

#content .sidebar h1 {
    a {
        text-decoration: none;
        white-space: normal !important;

        img {
            float: left;
            margin-right: 0.5em;
            border: 0 none;
        }
    }
}

#content aside.sidebar h1 {
    font-weight: normal;
}

#content > div {
    padding: { top: 0; bottom: 0; }

    > article {
        padding-top: 2em;
        position: relative;

        header {
            background: none;

            h1 {
                font-size: 2.2em;
            }
        }

        img, video {
            border: 0;
        }
    }
}

h2, h3,h4,h5 { font-weight: normal; }
.toggle-sidebar { display: none; }

.entry-content h2,h3,h4,h5 {
    @include central-column;

    padding-top: 0;
    background: white;

    &.no-border {
        border-left: 0;
    }
}



.entry-content .book-cover {
    margin-left: 10px;
    height: 100px;
    float: right;
}

pre, .highlight, .gist-highlight {
    &::-webkit-scrollbar {  height: .3em; background: $solar-scroll-bg; }
}

img.extrawide {
    margin-left: -20px;
    width: 320px;
    min-width: 320px;
    @each $screen_width in $screen_widths {
        @media only screen and (min-width: $screen_width) {
            width: $screen_width;
            min-width: $screen_width;
            @if $screen_width > $my_max_width {
                $mleft: ($my_max_width - $screen_width)/2;
                margin-left: round($mleft);
            } @else {
                margin-left: -20px;
            }
        }
    }
}

.fillwidth {
    width: 100%;
    max-width: 100%;
    > img {
        width: 100%;
    }
}

figure.img > figcaption {
    text-align: right;
    padding-right: 1em;
    margin-bottom: 4em;
    color: lighten($text-color, 20);
}

img.pixel-art {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

figure.code, pre {
    @each $screen_width in $phone_widths {
        @media only screen and (min-width: $screen_width) {
            @include central-column($screen_width);
        }
    }

    @each $screen_width in $desktop_widths {
        @media only screen and (min-width: $screen_width) {
            @include central-column(round($screen_width * 0.81));
        }
    }
}

figure.code  {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

h2.subtitle {
    float: left;
    a {
        color: #949494;
        font-size: 0.7em;
    }
}

body > header {
    padding-left: 18px;
    @media only screen and (min-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media only screen and (min-width: 768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
    @media only screen and (min-width: 992px) {
      padding-left: 55px;
      padding-right: 55px;
    }
    h1 {
      width: 100%;
    }
}

#mc_embed_signup {
    border: 5px solid lighten($title-color, 40);
    clear: left;
    background: #fff;
    font-family: $sans;
    padding-right: 10px;
    padding-left: 10px;
    input.button {
        background-color: $solar-magenta;
    }
}

.entry-content > code {
    @media only screen and (min-width: 320px) {
        min-width: 100%;
        width: 100%;
    }
}
